/*--------------------------------------- Adam index .CSS -------------------------------------------------------------*/

.separator {
    height: 20px;
    width: 100%;
    background-color: #728c72;
}

.container-column {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
}

.container-column-two {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
}

.container-row {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 20px;
}

.column-two {
    margin-left: auto;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
}

.row-two {
    margin: auto;
}

.column {
    margin: auto;
    height: 100%;
}

.row {
    margin-left: auto;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.maingrid {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: auto;
    margin-top: 20px;
    display: inline-block;
}

.column-container {
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.display-image {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: auto;
    border-radius: 10px;
}

.index-link {
    font-family: cabin-regular;
    background-color: #EEEDE9;
    font-size: 20px;
    font-weight: 700;
    width: 35%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
}

/*--------------------------------------- Adam index .CSS -------------------------------------------------------------*/