/* Adding Custom font 'Cabin' as font-family type */

@font-face {
    font-family: cabin-regular;
    src: url(assets/font/Cabin-Regular.woff);
}

p {
    font-family: cabin-regular;
    margin: 20px;
    position: relative;
    top: 20px;
}

h1 {
    font-family: cabin-regular;
    margin: 20px;
    position: relative;
    top: 20px;
}

header {
    background-color: white;
    height: 80px;
    text-align: center;
}
nav {
    position: relative;
    top: 20px;
}

nav ul {
    margin: auto;
}

nav ul li {
    list-style: none;
    display: inline;
    padding: 8px;
}

/*---------------------------------------Chalak About us .CSS -------------------------------------------------------------*/






/*---------------------------------------Chalak About us .CSS -------------------------------------------------------------*/
