/* Adding Custom font 'Cabin' as font-family type */

@font-face {
    font-family: cabin-regular;
    src: url(assets/font/Cabin-Regular.woff);
}

p {
    font-family: cabin-regular;
}

h1 {
    font-family: cabin-regular;
}

header {
    background-color: white;
    height: 100px;
    text-align: center;
}

nav ul li {
    list-style: none;
    display: inline;
    padding: 8px;
}

body {
    background-color: #9FAD8A;
    background-image:
        url("/assets/images/nsg-icon.png"),
        url("/assets/images/nsg-icon.png");
    background-repeat: repeat;
    background-position:
    0 0,
    225px 225px;
    background-size: 150px;
}