/* Adding Custom font 'Cabin' as font-family type */

@font-face {
    font-family: cabin-regular;
    src: url(assets/font/Cabin-Regular.woff);
}

p {
    font-family: cabin-regular;
    margin: 20px;
    position: relative;
    top: 20px;
}

h1 {
    font-family: cabin-regular;
    margin: 20px;
    position: relative;
    top: 20px;
}

header {
    background-color: white;
    height: 80px;
    text-align: center;
}
nav {
    position: relative;
    top: 20px;
}

nav ul {
    margin: auto;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: auto;
    margin-bottom: auto;
    font-family: cabin-regular;
    font-weight: 500;
    font-size: 30px;
}

body {
    margin: 0;
    background-color: #9FAD8A;
    background-image:
        url("/assets/images/nsg-icon.png"),
        url("/assets/images/nsg-icon.png");
    background-repeat: repeat;
    background-position:
    0 0,
    225px 225px;
    background-size: 150px;
}

main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: auto;
    width: 1800px;
    background-color: #EEEDE9;
}

section {
    background-color: #FFFFFF;
    border-radius: 20px;
    position: relative;
    margin: 20px;
    top: 20px;
}

/*---------------------------------------Chalak about-us .CSS -------------------------------------------------------------*/
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}

/*---------------------------------------Chalak about-us .CSS -------------------------------------------------------------*/
