/* Adding Custom font 'Cabin' as font-family type */

@font-face {
    font-family: cabin-regular;
    src: url(assets/font/Cabin-Regular.woff);
}

p {
    font-family: cabin-regular;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    color: #796B59;
}

h1, h2, h3, h4, h5, h6 {
    font-family: cabin-regular;
    margin: 20px;
    position: relative;
    display: inline-block;
    color: #796B59;
}

header {
    background-color: white;
    height: 80px;
    text-align: center;
}

nav {
    position: relative;
    top: 20px;
}

.navbar {
    overflow: hidden;
    background-color: white;
    font-family: cabin-regular;
    height: 80px;
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0;
}

.dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #EEEDE9;
    display: inline-block;
}


body {
    margin: 0;
    background-color: #9FAD8A;
    background-image:
        url("/assets/images/nsg-icon.png"),
        url("/assets/images/nsg-icon.png");
    background-repeat: repeat;
    background-position:
    0 0,
    225px 225px;
    background-size: 150px;
}

main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: auto;
    width: 75%;
    background-color: #EEEDE9;
    min-height: 100%;
}

section {
    background-color: #FFFFFF;
    border-radius: 20px;
    position: relative;
    margin: 20px;
    bottom: auto;
    display: inline-block;
}

article {
    background-color: #FFFFFF;
    border-radius: 20px;
    position: relative;
    margin: 20px;
    bottom: auto;
    display: inline-block;
}

footer {
    background-color: white;
    height: calc(100vh - 100px);
    margin: auto;
    text-align: center;
    top: auto;
}

.navBtn {
    color: #796B59;
    text-decoration: none;
    font-family: cabin-regular;
    font-weight: 700;
    font-size: 30px;
    display: inline-block;
    margin: auto;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
    cursor: pointer;
    height: 80;
}

.navBtn:hover {
    background-color: #EEEDE9;
    display: inline-block;
}

.dropdown {
    float: none;
    overflow: hidden;
    display: inline-flex;
    cursor: pointer;
    font-size: 30px;
    border: none;
    outline: none;
    color: black;
    padding: auto;
    background-color: inherit;
    font-family: inherit;
}

.dropbtn {
    border: none;
    background-color: #FFFFFF;
    display: inline-block;
    margin: auto;
    color: #796B59;
    text-decoration: none;
    font-family: cabin-regular;
    font-weight: 700;
    font-size: 30px;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35%;
    padding-right: 35%;
    text-align: center;
    cursor: pointer;
    height: 80;
}

.dropbtn:hover {
    background-color: #EEEDE9;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 100;
    margin: 77px 0 0;
}

.dropdown-content a {
    float: none;
    color: #796B59;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #EEEDE9;
}

.show {
    display: block;
}

.logo {
    height: 60px;
    display: inline-block;
    margin: auto;
}

/*--------------------------------------- Adam index .CSS -------------------------------------------------------------*/

.separator {
    height: 20px;
    width: 100%;
    background-color: #728c72;
}

.container-column {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
}

.container-column-two {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
}

.container-row {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 20px;
}

.column-two {
    margin-left: auto;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
}

.row-two {
    margin: auto;
}

.column {
    margin: auto;
    height: 100%;
}

.row {
    margin-left: auto;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.maingrid {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: auto;
    margin-top: 20px;
    display: inline-block;
}

/*--------------------------------------- Adam index .CSS -------------------------------------------------------------*/

/*---------------------------------------Chalak about-us .CSS -------------------------------------------------------------*/
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}


/*---------------------------------------Chalak about-us .CSS -------------------------------------------------------------*/

/*---------------------------------------Tyler sign-up .CSS ---------------------------------------------------------------*/

/*---------------------------------------Tyler sign-up .CSS ---------------------------------------------------------------*/