/* Adding Custom font 'Cabin' as font-family type */

@font-face {
    font-family: cabin-regular;
    src: url(assets/font/Cabin-Regular.woff);
}

p {
    font-family: cabin-regular;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: 20px;
    position: relative;
    display: inline-block
}

h1, h2, h3, h4, h5, h6 {
    font-family: cabin-regular;
    margin: 20px;
    position: relative;
    display: inline-block;
}

header {
    background-color: white;
    height: 80px;
    text-align: center;
}

nav {
    position: relative;
    top: 20px;
}

nav ul {
    margin: auto;
}

nav ul li {
    list-style: none;
    display: inline;
    margin: auto;
    font-family: cabin-regular;
    font-weight: 500;
    font-size: 30px;
}

body {
    margin: 0;
    background-color: #9FAD8A;
    background-image:
        url("/assets/images/nsg-icon.png"),
        url("/assets/images/nsg-icon.png");
    background-repeat: repeat;
    background-position:
    0 0,
    225px 225px;
    background-size: 150px;
}

main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: auto;
    width: 75%;
    background-color: #EEEDE9;
    min-height: 100%;
}

section {
    background-color: #FFFFFF;
    border-radius: 20px;
    position: relative;
    margin: 20px;
    bottom: auto;
    display: inline-block;
}

footer {
    background-color: white;
    height: calc(100vh - 100px);
    margin: auto;
    text-align: center;
    top: auto;
}

a {
    color: black;
    text-decoration: none;
}

.navlink {
    color: black;
    text-decoration: none;
    position: relative;
    padding-top: 100%;
    padding-bottom: 25px;
    padding-left: 5%;
    padding-right: 5%;
}

.navlink:hover {
    background-color: #EEEDE9;
}

/*--------------------------------------- Adam index .CSS -------------------------------------------------------------*/

.separator {
    height: 20px;
    width: 100%;
    background-color: #728c72;
}

.container-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
}

.container-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
}

.column {
    margin: auto;
    height: 100%;
}

.row {
    margin: auto;
}

.maingrid {
    margin: 20px;
    display: inline-block;
}

/*--------------------------------------- Adam index .CSS -------------------------------------------------------------*/

/*---------------------------------------Chalak about-us .CSS -------------------------------------------------------------*/
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}

/*---------------------------------------Chalak about-us .CSS -------------------------------------------------------------*/
