/* Adding Custom font 'Cabin' as font-family type */

@font-face {
    font-family: cabin-regular;
    src: url(assets/font/Cabin-Regular.woff);
}

p {
    font-family: cabin-regular;
    margin: 20px;
    position: relative;
    top: 20px;
}

h1 {
    font-family: cabin-regular;
    margin: 20px;
    position: relative;
    top: 20px;
}

header {
    background-color: white;
    height: 80px;
    text-align: center;
}
nav {
    position: relative;
    top: 20px;
}

nav ul {
    margin: auto;
}

nav ul li {
    list-style: none;
    display: inline;
    padding: 8px;
}

/*---------------------------------------Chalak about-us .CSS -------------------------------------------------------------*/
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}

body {
    font-family: Arial, helvetica, sans-serif;
    background: #f4f4f4; /* adding random color cba to look at the sylesheet pretation*/ 
    color: #111;
}





/*---------------------------------------Chalak about-us .CSS -------------------------------------------------------------*/
