.separator {
    height: 20px;
    width: 100%;
    background-color: #728c72;
}

.container-column {
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 20px;
}

.container-column-two {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 20px;
}

.container-row {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 20px;
    max-height: 100%;
    overflow: auto;
}

.column-two {
    margin-left: auto;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
}

.row-two {
    margin: auto;
    height: 100%;
}

/* .row:nth-child(0) {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 20px;
    height: 100%;
} */

.column {
    margin: auto;
    height: 100%;
}

.row {
    margin-left: auto;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.maingrid {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: auto;
    margin-top: 20px;
    display: inline-block;
}

.column-container {
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.img-container-row {
    width: 50%;
    height: 300px;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: auto;
    border-radius: 10px;
    flex: 1;
}

/* .img-container-column {
    width: 50%;
    height: 350px;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: auto;
    border-radius: 10px;
} */

.display-image-column {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: auto;
    border-radius: 10px;
}

.display-image-row {
    width: 125%;
    height: 100%;
}

.index-link {
    font-family: cabin-regular;
    background-color: #EEEDE9;
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    width: clamp(200px, calc(800px - 40vw), 80%); 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
}

.row-div {
    display: inline-flex;
}

div p {
    flex: 1;
}