/* Adding Custom font 'Cabin' as font-family type */

@font-face {
    font-family: cabin-regular;
    src: url(assets/font/Cabin-Regular.woff);
}

p {
    font-family: cabin-regular;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    color: #52473D;
}

h1, h2, h3, h4, h5, h6 {
    font-family: cabin-regular;
    margin: 20px;
    position: relative;
    display: inline-block;
    color: #52473D;
}

header {
    background-color: white;
    height: 80px;
    text-align: center;
}

nav {
    position: relative;
    top: 20px;
}

.navbar {
    overflow: hidden;
    background-color: white;
    font-family: cabin-regular;
    height: 80px;
    width: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0;
}

.navbar-footer {
    overflow: hidden;
    font-family: cabin-regular;
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
}

.dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #EEEDE9;
    display: inline-block;
}

body {
    margin: 0;
    background-color: #9FAD8A;
    background-image:
        url("/app/public-files/assets/images/nsg-icon.png"),
        url("/app/public-files/assets/images/nsg-icon.png");
    background-repeat: repeat;
    background-position:
    0 0,
    225px 225px;
    background-size: 150px;
}

main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: auto;
    min-width: 1560px;
    width: 80vw;
    max-width: 1920px;
    background-color: #EEEDE9;
    min-height: 100%;
}

section {
    background-color: #FFFFFF;
    border-radius: 20px;
    position: relative;
    margin: 20px;
    bottom: auto;
    display: inline-block;
}

article {
    background-color: #FFFFFF;
    border-radius: 20px;
    position: relative;
    margin: 20px;
    bottom: auto;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

footer {
    background-color: #657B65;
    height: 150px;
    margin: auto;
}

.navBtn {
    color: #52473D;
    text-decoration: none;
    font-family: cabin-regular;
    font-weight: 700;
    font-size: 30px;
    display: inline-block;
    margin: auto;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    cursor: pointer;
    height: 80px;
}

.footerBtn {
    color: #FFFFFF;
    text-decoration: none;
    font-family: cabin-regular;
    text-align: center;
    margin: 20px;
    font-weight: 700;
}

.navBtn:hover {
    background-color: #EEEDE9;
    display: inline-block;
}

/* .dropdown {
    float: none;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
} */

.dropbtn {
    border: none;
    background-color: #FFFFFF;
    display: inline-block;
    margin: auto;
    color: #52473D;
    text-decoration: none;
    font-family: cabin-regular;
    font-weight: 700;
    font-size: 30px;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    cursor: pointer;
    height: 80px;
}

.dropbtn:hover {
    background-color: #EEEDE9;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 100;
}

.dropdown-content a {
    float: none;
    color: #52473D;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #EEEDE9;
}

.show {
    display: block;
}

.logo {
    height: 60px;
    display: inline-block;
    margin: auto;
}

/*--------------------------------------- Adam index .CSS -------------------------------------------------------------*/

.separator {
    height: 20px;
    width: 100%;
    background-color: #657B65;
}

.container-column {
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 20px;
}

.container-column-two {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 20px;
}

.container-row {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 20px;
    max-height: 100%;
    /* overflow: auto; */
}

.column-two {
    margin-left: auto;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
}

.row-two {
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
}

/* .row:nth-child(0) {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 20px;
    height: 100%;
} */

.column {
    margin: auto;
    height: 100%;
}

.row {
    margin-left: auto;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.maingrid {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: auto;
    margin-top: 20px;
    display: inline-block;
}

.column-container {
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.img-container-row {
    /* width: 100%; */
    height: 350px;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: auto;
    border-radius: 10px;
    justify-content: center;
}

/* .img-container-column {
    width: 50%;
    height: 350px;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: auto;
    border-radius: 10px;
} */

.display-image-column {
    width: calc(100% - 40px);
    height: 350px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: auto;
    border-radius: 10px;
}

.display-image-row {
    height: 350px;
    margin-left: 20px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.display-image-row:nth-child(even) {
    margin-left: auto;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: 20px;
}

.index-link {
    font-family: cabin-regular;
    background-color: #EEEDE9;
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    width: 200px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
}

.row-div {
    display: grid;
    grid-template-columns: auto auto;
}

.row-text {
    display: flex;
    text-align: top;
}

.img-filler {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.signup {
    display: grid;
    grid-template-columns: 60% auto;
}

.img-signup {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}


.carousel-container {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 80vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #728C72;
}

.carousel-img {
    width: 100%;
    object-fit: cover;
}

.left-arrow {
    height: 100%;
}

.left-arrow:hover {
    transform: scale(1.1);
}

.right-arrow {
    height: 100%;
}

.right-arrow:hover {
    transform: scale(1.1);
}

.carousel-prev {
    position: absolute;
    height: 100px;
    top: 40%;
    right: 95%;
    cursor: pointer;
    border: none;
    background: none;
}

.carousel-next {
    position: absolute;
    height: 100px;
    top: 40%;
    left: 95%;
    cursor: pointer;
    transform: rotate(180deg);
    border: none;
    background: none;
}

.carousel-text {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    height: 180px;
    width: 100vw;
    top: calc(100% - 180px);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.carousel-header {
    color: #FFFFFF;
    min-width: 1560px;
    width: 80vw;
    max-width: 1920px;
}

.carousel-p {
    color: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    min-width: 1560px;
    width: 80vw;
    max-width: 1920px;
}

/*--------------------------------------- Adam index .CSS -------------------------------------------------------------*/

/*---------------------------------------Chalak about-us .CSS -------------------------------------------------------------*/
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

main.team.section{
    padding-top: 30px;
    padding-bottom: 30px;
}

/*wraper that holds all the team cards*/
.team.grid{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr)); /*2 cards per row*/
    gap: 30px;
    padding: 20px;
}
/*centering the title cards*/
.team.card {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.team.card h2 {
    margin:10px 0;
}
/*job tile made a little grey seems nice*/
.team.card .job{
    font-size: 16px;
    color: #999999;
}

/*little line under the name*/
.team.card .title.underline {
    width: 600px;
    height: 4px;
    background-color: #657B65;
    margin: 0 auto 15px;
    border-radius: 999px;
}
/*only pargraphs in the team cards just so the other pages are not changed*/
.team.card p {
    margin: 0 0 15px;
    color: #52473D;
}
/*the photo square */
.team.card .photo.placeholder {
    width: 40%;
    aspect-ratio: 1 / 1;
    background-color: #9FAD8A;
    border-radius: 15px;
    margin-top: 15px;
    background-size: cover;
    background-position: center; 
}
/* image left + text right inside each card */
.bio-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.bio-text {
    flex: 1;          /* text takes remaining space */
    text-align: left;
}

.bio-text p {
    margin: 0;
}


/* Chalak */
.team.grid article.team.card:nth-child(1) .photo.placeholder {
    background-image: url("assets/images/chalak.JPG");
}

/* Adam */
.team.grid article.team.card:nth-child(2) .photo.placeholder {
    background-image: url("assets/images/adam.PNG");
}

/* Martha */
.team.grid article.team.card:nth-child(3) .photo.placeholder {
    background-image: url("assets/images/martha.jpg");
}

/* Tyler */
.team.grid article.team.card:nth-child(4) .photo.placeholder {
    background-image: url("assets/images/tyler.PNG");
}


/*1 per row on smale screen*/
@media (max-width:800px){
    .team.grid {
        grid-template-columns: 1fr;
    }
}



/*---------------------------------------Chalak about-us .CSS -------------------------------------------------------------*/

/*---------------------------------------Tyler sign-up .CSS ---------------------------------------------------------------*/
.formSection {
    flex-direction: column;
    display: inline-block;
    justify-content: center;
    font-family: cabin-regular;
    font-size: 20px;
}

.signUpForm {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;

}


input {
    display: inline-block;


}

label {
    display: block;
    margin-bottom: 5px;
    padding: 10px;
}


input[type=submit] {
    cursor: pointer;

}

.confirmMessage {
    display: flex;
    flex-direction: column;
}

/*---------------------------------------Tyler sign-up .CSS ---------------------------------------------------------------*/